* {
  max-width:  1370px;
  margin: auto;
  position: relative;
  padding: 0;
  
  }

.banner {
  height: 1057px;
  background-image: url("../images/Photo1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

nav ul {
  margin-top: -80px;
  margin-left: 700px;
}

nav li {
  width: 369px;
  height: 10px;
  color: #263742;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 85px;
  display: inline;
  margin: 0;
  padding: 0 10px;
}

.red-twitter {
  width: 20px;
height: 16px;
}

.red-facebook {
  width: 10px;
  height: 18px;
}

.red-box {
  width: 141px;
  height: 75px;
  background-color: #fa5c65;
  border-radius: 7px;
  margin-top: -15px;
  margin-left: 220px;
}

.freelancer {
  width: 112px;
  height: 17px;
  color: #ffffff;
  font-family: Domine;
  font-size: 20px;
  font-weight: 700;
  line-height: 63.95px;
  padding-top: 25px;
  padding-left: 15px;
}

.blue-dot {
  color: #314a5b;
}

h1 {
  width: 700px;
  height: 142px;
  color: #314a5b;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: bold;
  line-height: 53px;
  text-transform: uppercase;
  padding: 280px 230px 0px 0px;
  letter-spacing: -1.44px;
}

.red-dot {
  color: #fa5c65;
}

h2 {
  width: 700px;
  height: 25px;
  color: #314a5b;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: lighter;
  line-height: 40.35px;
  padding: 20px 230px 0px 0px;
}

.read-btn {
  cursor: pointer;
  padding: 20px 40px 20px 40px;
  margin-left: 220px;
  top: 75px;
  text-decoration: none;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  color:#fff;
  background-color: #fa5c65;
}

.block {
  width: 257px;
  height: 60px;
}

.peace {
  margin-left: 300px;
  margin-top: 20px;
}

.free {
  margin-left: 600px;
  margin-top: -60px;
}

.simple {
  margin-left: 900px;
  margin-top: -60px;
}

.title {
  width: 257px;
  height: 46px;
  color: #465065;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}

.paragraph {
  width: 257px;
  height: 60px;
  color: #9aa0ab;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 20px;
}

.more {
  width: 44px;
  height: 10px;
  color: #fa5c65;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  display: inline-block;
  margin-top: 20px;
}

.more img {
  top: -20px;
  margin-left: 50px;
}

.macbook {
  width: 398px;
  height: 301px;
  right: 200px;
  top: 210px;
}

.portfolio {
  top: -60px;
  left: 250px; 
  width: 500px;
}

.portf {
  height: 30px;
  color: #314a5b;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: -1.2px;
}

.subtitle {
  top: 20px;
  bottom: 40px;
  height: 17px;
  color: #314a5b;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.text {
  top: 40px;
  height: 104px;
  color: #9aa0ab;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.portf-more {
  top: 70px;
  right: 225px;
  width: 44px;
  height: 10px;
  color: #f0454c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
}

.portf-more img {
  top: -20px;
  margin-left: 50px;
}

.team-title {
  top: 100px;
  right: 290px;
  width: 214px;
  height: 24px;
  color: #314a5b;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 53.86px;
  letter-spacing: -0.48px;
}

.team p {
  top: 130px;
  padding-left: 290px;
  height: 17px;
  color: #9aa0ab;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.carts {
  padding-top: 170px;
  height: 170px;
  padding-left: 270px;
}

.cart {
  width: 305px;
  height: 100%;
  display: inline-block;
}

.info {
  float: right;
  width: 170px;
  margin-top: 10px;
}

.name {
  height: 17px;
  color: #314a5b;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 900;
  line-height: 53.86px;
}

.job {
  height: 15px;
  color: #f0454c;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.information {
  padding-top: 20px;
  height: 32px;
  color: #9aa0ab;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}


.div-more {
  float:right;
  margin-bottom: 10px;
  width: 44px;
  height: 10px;
  color: #f0454c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  padding-top: 20px;
}

.div-more img {
  top: -20px;
  margin-left: 50px;
}

.bottom-line {
  border:1px solid #e6eaed;
  width: 940px;
  position: absolute;
  left: 270px;
  margin-top: 70px;
}

.icons {  
  list-style: none;
  top: 100px;
  left: 270px;
  float: left;
  margin-bottom: 50px;
}

.list-icons {
  display: inline-block;
  margin-right: 15px;
}

.copyright {
  font-family: "Open Sans";
  font-size: 13px;
  color: #b9c0c6;
  float: right;
  top: 100px;
  right: 160px;
}